* {
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    margin: 0;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar p {
    color: white;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.header-container {
    position: relative;
    text-align: center;
    background: url("../Assets/Background.jpg"); 
    height: 100vh;
    background-attachment: scroll;
    background-position-x: center;
    background-size: cover;
    background-position-y: -100px;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
}

.cta-button {
    background-color: transparent;
    padding: 10px 5px;
    border: 1px white solid;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.location-title {
    text-align: center;
    margin-bottom: 10px;
}

.map-container {
    height: 400px;
    width: 100%;
}

#map {
    height: 400px;
    width: 100%;
}

.gallery-title {
    text-align: center;
    margin-bottom: 30px;
}

.picture-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.right-pictures {
    display: flex;
    flex-direction: column;
}

.picture {
    border-radius: 15px;
}

.picture1 {
    height: 810px;
}

.picture2 {
    height: 400px;
    margin-bottom: 10px;
}

.picture3 {
    height: 400px;
}

.sneakers-title {
    text-align: center;
    margin: 20px 0 30px 0;
}

.sneaker-pictures h2 {
    text-align: center;
}

.product-container {
    width: 500px;
}

.product-image {
    width: 100%;
}

.product-container p {
    width: 100%;
}

.sneaker-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.team-title {
    text-align: center;
    margin-bottom: 30px;
}

.team-row {
    display: flex;
    justify-content: space-around;
}

.team-member {
    width: 400px;
}

.joe-picture {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.team-member1 {
    width: 400px;
    margin-bottom: 30px;
}

.footer-section {
    background: black;
}

.footer-section p {
    color: white;
    margin: 0;
    text-align: center;
}